#footer {
    margin: 0;
    background: cornsilk;
  }
.footerBox {
	margin-left: 2em;
	display: inline-block;
	margin-top: 0.75em;
}
.footerLabel{
	font-weight: bolder;
	font-size: 1.1em;
}
.footerLink{
    text-decoration: none;
    color:black;
}
#footerPageName {
	font-size: 2.5em;
	margin: 0.25em;
}
#footerCompanyNum{
    color:black;
}
#footerAddress{
    color:black;
}
#footerCopy {
  color: gray;
  font-size: 0.8em;
}