body{
    width:100%;
    padding:0;
    margin:0;
    height:100%;
}
#loginContainer{
    text-align: center;
    height: 100%;
    min-height: 400px;
}
.loginHelp{
    color:black;
    font-size: smaller;
}
.input-group{
    width: 80%;
    margin: auto;
}
.custom-switch{
    display: inline-block;
    font-size: smaller;
}
.socialLoginIcon{
    width: 5%;
    margin: auto;
    border: #000 0.1px solid;
}